header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(249, 38, 38);
    padding: 1%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0px;
    z-index: 1000;
    flex-wrap: wrap;
    /*La sombra se pone mal y no entiendo porque*/
}
header img{
    width: 100px;
}
body{
    margin: 0px;
    padding: 0px;
}
.carrito img{
    width: 30px;
}
.carrito {
    display: flex;
    align-items: center;
    color: black;
    flex-wrap: wrap;
}
.izquierda{
    display: flex;
    align-items: center;
    gap: 6rem;
}
.titulo{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.sneaker{
    color: black;
}
.resale{
    color:grey;
}
.menu{
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 20px;
    flex-wrap: wrap;

}
.menu a:hover{
    background-color: white;
    color:rgb(249, 38, 38);  ;
}
.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.hero{
    position: relative;
}

.hero-fondo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.productos{
    text-align: center; 
}
.productos h2{
    font-size: 2em;
}
.productos img{

    width: 100%;
}
.producto{
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
     flex: 1 0 300px;   
}
.productos button{
    background-color: red;
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 30%;
}
.hero-compra{
    position: absolute;
    border:2px solid rgb(249, 38, 38); ;
    background-color: rgb(249, 38, 38);
    color: black;
    border-radius: 20px;
    flex: 1 0 200px;
    text-align: center;
    padding: 1%;
    top: 8%;
    right: 25%;
    font-family: Arial, Helvetica, sans-serif;

}
.hero-compra button{
    background-color: rgb(249, 38, 38);
    color: black;
    border-radius: 15px;
    padding: 10px;
    width: 50%;

}


.cajas1{
    display: flex;
    justify-content: center;
    gap: 6%;
    flex-wrap: wrap;

}
.cajas2{
    display: flex;
    justify-content: center;
    gap: 6%;
    flex-wrap: wrap;

}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(249, 38, 38);
    color:black;
    margin-top: 2%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    flex-wrap: wrap;
}
.redes img{
    width: 70px;
}
.producto-pie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}
